/**************************************/
/*Quick Links*/
/**************************************/
.divnoresults {
    color: #9c9c9c;
    font-family: 'sourcesansproregular', sans-serif;
}

.divpageheader {
    width: 99%;
    border-bottom: 1px solid #c7c7c7 !important;
    padding: 10px 0 0 0;
    margin: 10px 0 10px 0;
    display: flex;
}

.divpageheader h1 {
    font-family: 'latobold', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    margin: 0px;
}

.divpageheader h1 span[class^="icon-"] {
    font-size: 20px;
    padding-right: 10px;
    position: relative;
    top: 3px;
}

.divpageheader h1:after {
    content: "";
    border-bottom: 3px #FFC141 solid;
    width: 113px;
    position: relative;
    top: 3px;
    display: block;
    padding: 5px 0 0;
}

.divquicklinkcontainer {
    width: 100%;
    display: flex;
}

.divquicklinkcontainer .divquicklinkcontent {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.divquicklinkcontainer .divquicklinkcontent:last-child {
    border-right: none;
}

.divquicklinkcontainer .divquicklinkcontent h1 {
    color: #9F7300;
    font-family: 'sourcesansprosemibold';
    font-size: 15px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.divquicklinkcontainer ul,
.divquicklinkcontent ul li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: relative;
}

.divquicklinkcontainer ul {
    width: 100%;
}

.divquicklinkcontainer ul li {
    display: inline-block;
    margin-right: 15px;
    width: 13%;
}

.divquicklinkcontainer ul li a {
    position: relative;
    margin: 0 0 10px 0;
    display: flex;
    font-family: 'sourcesansproregular', sans-serif;
    font-size: 14px;
    color: #003f91;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    text-decoration: none;
}

.divquicklinkcontainer ul li a::before {
    font-size: 10px;
    color: #003f91;
    padding-right: 5px;
    content: "\e924";
    font-family: 'icomoon' !important;
    position: relative;
    top: 3px;
    font-weight: bold;
}

.spanPoccount {
    font-family: 'sourcesansprosemibold';
    color: #000;
    font-size: 15px;
    padding: 4px 8px;
    background: #F0C619;
    border-radius: 4px;
    margin-left: 5px;
    top: -1px;
    position: relative;
}

@media (max-width: 800px) {
    .divquicklinkcontainer .divquicklinkcontent {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        max-width: 33%;
        margin-bottom: 10px;
    }

    .divquicklinkcontainer {
        flex-wrap: wrap;
    }
}